.memo {
  width: 150px;
  height: 150px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.11);
  margin: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 0 1px rgba(0,0,0,0.11);
  -moz-box-shadow: 2px 2px 0 1px rgba(0,0,0,0.11);
  box-shadow: 2px 2px 0 1px rgba(0,0,0,0.11);
  text-align: center;
  font-family: "Helvetica Neue";
  box-sizing: border-box;
}

.memo__title {
  padding: 5px;
  margin: 20px 0;
  display: block;
  border: none;
  &:hover {
    border: 1px solid #ccc;
  }
}
.memo__body {
  display: block;
  border: none;
  text-align: center;
  padding: 5px;
  margin: 10px 0;
  background-position: bottom right;
  background-repeat: no-repeat;
  &:hover {
    border: 1px solid #ccc;
  }
}

button {
  font-size: .8rem;
  padding: 10px 20px;
  border-radius: 2px;
  border: 0;
  color: #fff;
  background: #222;
  cursor: pointer;
  margin: 6px;
  white-space: normal;
  word-wrap: break-word;
  &:hover {
    background: #333;
  }
}